<div ng-controller="app.views.about as vm">  
    <table width="100%" height="100%">
        <tr>

            <td>
                <div id="canvas"></div> 
            </td>
        </tr>
        
        <tr>
            <td>
                <br>
                <div style="text-align:left">Настройки</div>
                <br>
                <button type="button" class="btn btn-primary" ng-click="vm.fastGnpRandomGraph()"><i class="fa fa-random fa-fw"></i>&nbsp; fastGnpRandomGraph</button>
                <button type="button" class="btn btn-success" ng-click="vm.gnpRandomGraph()"><i class="fa fa-random fa-fw"></i>&nbsp; gnpRandomGraph</button>
                <button type="button" class="btn btn-info" ng-click="vm.binomialGraph()"><i class="fa fa-random fa-fw"></i>&nbsp; binomialGraph</button>
                <button type="button" class="btn btn-warning" ng-click="vm.erdosRenyiGraph()"><i class="fa fa-random fa-fw"></i>&nbsp; erdosRenyiGraph</button>
            </td>            
        </tr>   
        <tr>
            <td>
                <br>
                <label>Количество вершин</label>
                <input type="text" ng-model="vm.n">
                <input type="range" min="0" max="1000" step="10" ng-model="vm.n">
                <label>Коэффициент p</label>
                <input type="text" ng-model="vm.p">
                <input type="range" min="0" max="1" step="0.01"  ng-model="vm.p">
            </td>
        </tr>    
    </table>
</div>
